<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Тестовый проект</title>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800" rel="stylesheet" type="text/css" />
	
	<!-- Stylesheets -->
	<link href="../public/css/reset.css" rel="stylesheet" />
	<link href="../public/css/main.css" rel="stylesheet" />
	<link href="../public/css/asyncslider_body.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="../public/js/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
	
	<!-- JavaScripts -->
	<script src="../public/js/jquery-1.7.1.min.js"></script>
	<script src="../public/js/jquery.easing.1.3.js"></script>
	<script src="../public/js/jquery.asyncslider.min.js"></script>
	<script src="../public/js/hover.zoom.js"></script>
	<script src="../public/js/jquery.flip.min.js"></script>
	<script src="../public/js/main.js"></script>
	<script type="text/javascript" src="../public/js/fancybox/jquery.fancybox.pack.js?v=2.0.4"></script>
</head>
<body>
	<div class="background_overlay">
		<div class="background">
		
			<!--Wrapper -->
			<div class="wrapper">
			
				<!--Header -->
				<header>
					<a href="#" class="logo">
					</a>
					<div class="description">Тестовый проект!</div>

					<div class="contact">
						<a class="telephone" href="./index.html">Главная</a>
						<a class="telephone" href="./create.html">Тест MongoDB</a>
					</div>


					<div class="clear"></div>
				</header>
				<div class="line"></div>
				<div class="clear"></div>
			</div>
			<div class="slider_container">
				<ul class="async_slider">
					<li id="slide-01">
						<div class="slider_text">
							<h1>Доступно на ThemeForest</h1>
							<p>Здравствуйте, пользователи ThemeForest, это приложение доступно только для мобильных устройств, это приложение доступно только на следующих торговых площадках: </p>
							<a class="button" href="#">Android</a> 
							<div class="or">или</div>
							<a class="button" href="#">AppStore</a>
						</div>
						<div class="slider_image">
							<img src="../public/images/mac2.png" width="420" height="250" />
						</div>
						<div class="clear"></div>
					</li>
					<!-- End of: Slide Item 1 -->
					
					<!-- Slide Item 1 -->
					<li id="slide-02">
						<div class="slider_text">
							<h1>Совместимость с браузером</h1>
							<p>Тема создана для работы в самых известных интернет-браузерах.</p>
							<p>Попробуйте тему в любом браузере, но лучше всего работает Google Chrome.</p>
							<p>Посмотрите!</p>
						</div>
						<div class="slider_image browsers">
							<div> <img src="../public/images/op.png" width="48" height="54" /></div>
							<div> <img src="../public/images/firefox.png" width="87" height="86" /></div>
							<div> <img src="../public/images/chrome.png" width="128" height="126" /></div>
							<div> <img src="../public/images/safari.png" width="78" height="82" /></div>
							<div> <img src="../public/images/ie.png" width="53" height="54" /></div>
						</div>
						<div class="clear"></div>
					</li>

				</ul>
				
				<div class="sliderNav"></div>
				<div class="slides_nav_container"></div>
				
			</div>
			<!-- END OF: Slider Container -->
			
			<!--WRAPPER -->
			<div class="wrapper">
			
				<section>
					<div class="content">
                    
                    	<div class="column">
                            <h1>Инновационный</h1>
                            <img src="../public/images/ideas.jpg" />
                            <p>Десять лет назад военный трибунал отправил в тюрьму первоклассное подразделение коммандос за преступление, которого они не совершали.
								Эти люди быстро сбежали из частокола строгого режима в метро Лос-Анджелеса. </p>
                        </div>
                        
                    	<div class="column">
                            <h1>Интерактивный</h1>
                            <img src="../public/images/interactive.jpg" />
                            <p>На столе лежала разложенная коллекция образцов ткани — Замза был коммивояжером, — а над ней висела картина, которую он недавно вырезал из иллюстрированного журнала и поместил в красивую позолоченную рамку.</p> </div>
                        
                    	<div class="column">
                            <h1>Интернет-магазины</h1>
                            <img src="../public/images/shop.jpg" />
                            <p>На нем была изображена дама в меховой шапке и меховом горжетке, которая сидела прямо, подняв к зрителю тяжелую меховую муфту, закрывавшую всю ее предплечье, а над ней висела картина, которую он недавно видел.</p>
						</div>
                    	<div class="clear"></div>
                    </div>
                    
					<ul class="features">
                            <li class="feature">
                                <a href="#">
                                <div class="networking ca-icon"></div>
                                <div class="ca-content">
                                    <h1 class="ca-main">Сеть</h1>
                                    <p class="ca-sub">
                                        Just the good ol' boys, never meanin' no harm. Beats all you've ever saw, been in rouble with the team.
                                    </p>
                                </div>	
                                <div class="clear"></div>
                                </a>
                            </li><!-- end of: FEATURE  -->
                       
    
                            <li class="feature">
                                <a href="#">
                                <div class="applications ca-icon"></div>
                                <div class="ca-content">
                                    <h1 class="ca-main">Приложения</h1>
                                    <p class="ca-sub">
                                        Hong Kong Phooey, number one super guy. Hong Kong Phooey, quicker than the human eye.
                                    </p>
                                </div>
                                <div class="clear"></div>
                                </a>
                            </li><!-- end of: FEATURE  -->
                            
    
                            <li class="feature">
                                <a href="#">
                                <div class="retina ca-icon"></div>
                                <div class="ca-content">
                                    <h1 class="ca-main">Retina Дисплей</h1>
                                    <p class="ca-sub">
                                        Mutley, you snickering, floppy eared hound. When courage is needed, you're never around.
                                    </p>
                                </div>
                                <div class="clear"></div>
                                </a>
                            </li><!-- end of: FEATURE  -->
                            
        
                            
                            <li class="feature">
                                <a href="#">
                                <div class="gaming ca-icon"></div>
                                <div class="ca-content">
                                    <h1 class="ca-main">Игры</h1>
                                    <p class="ca-sub">
                                        Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius.
                                    </p>
                                </div>   
                                <div class="clear"></div>
                                </a>
                            </li><!-- end of: FEATURE  -->
    
                            
                        <div class="clear"></div>
                       
                    </ul><!--end of Features -->
					
					<div class="gallery">
						<h1>Галерея</h1>
						
						<a class="fancybox" rel="group" href="http://creattica.com/uploaded-images/0018/8126/01_woody.__large_preview.png?1">
							<img src="../public/images/image_1.jpg" width="120" height="60" />
						</a>
						<a class="fancybox" rel="group" href="http://creattica.com/uploaded-images/0019/3672/Elkins_Dental.png">
							<img src="../public/images/image_2.jpg" width="120" height="60" />
						</a>
						<a class="fancybox" rel="group" href="http://creattica.com/uploaded-images/0018/8207/Rhino.jpg">
							<img src="../public/images/image_3.jpg" width="120" height="60" />
						</a>
						<a class="fancybox" rel="group" href="http://creattica.com/uploaded-images/0018/8132/localever.png">
							<img src="../public/images/image_4.jpg" width="120" height="60" />
						</a>
						<a class="fancybox" rel="group" href="http://creattica.com/uploaded-images/0018/8573/qlosd.jpg">
							<img src="../public/images/image_5.jpg" width="120" height="60" />
						</a>
						<a class="fancybox" rel="group" href="http://creattica.com/uploaded-images/0018/7250/1880_big.jpg">
							<img src="../public/images/image_6.jpg" width="120" height="60" />
						</a>
						
						<div class="clear"></div>
					</div>
					
				</section>
				
				<div class="blocks">
				
					<div class="blocks_inner">
					
						<div class="block_1">
							<h1>Уникальность</h1>
							<p>
								Эта тема целевой страницы имеет уникальный чистый дизайн, вы можете использовать ее для разных целей.	</p>
						</div>
						
						<div class="block_2">
							<h1>Настраиваемый</h1>
							<p>
								 Легко настраиваемая тема, она построена на разных цветовых схемах, подробнее читайте в документации.
							</p>
						</div>
						
						<div class="block_3">
							<h1>Поддержка 24/7</h1>
							<p>
								Застрял на чем-то? Напишите или позвоните нам, у нас есть служба поддержки онлайн 24 часа в сутки.
							</p>
						</div>
						
						<div class="clear"></div>
					</div>
					
				</div>
				
				<div class="first_column" id="subscribe_box">
				
					<div class="column_content">
						<h1>Подписаться</h1>
						<p>
							Хотите связаться с нами? Введите свой адрес электронной почты ниже
						</p>
					</div>
					
					<div class="bottom_content">
						<form action="#" method="post" id="subscribe_form">
							<input type="text" placeholder="E-mail" name="e-mail" class="email" /> 
							<input type="submit" value="Subscribe" class="subscribe" />
							<div class="clear"></div>
						</form>
					</div>
					
					<!-- Messages for the Subscribe Form -->
					<div class="messages">
					
						<div class="success_message">
							<span class="up">Спасибо за регистрацию.</span>
							<span class="down">Теперь вы подписаны!</span>
						</div>
						
						<div class="error_message">
							<span class="up"><strong>Произошли ошибки!</strong></span>
							<span class="down">Вы уже подписаны.</span>
						</div>
						
					</div>
					<!-- End of: Messages for the Subscribe Form -->
					
				</div>
				
				<div class="second_column">
				
					<div class="column_content">
						<h1>Отзывы</h1>
						<ul class="testimonals">
							<li data-name="Чина" data-url="http://artramadani.com/1">Тема просто потрясающая, я искал целевую страницу для одного из своих клиентов, а потом нашел это. Попробуйте.</li>
							<li data-name="Аза" data-url="http://artramadani.com/2">У этой темы отличные функции, она идеально подходит для моего мобильного приложения!</li>
							<li data-name="Мадина" data-url="http://artramadani.com/3">Ну, я должен сказать, что Themeforest крут!</li>
							<li data-name="Ержан" data-url="http://artramadani.com/4">Отлично, я искал целевую страницу, которая идеально подошла бы для моего приложения, но эта просто отлично выглядит .</li></ul>
					</div>
					
					<div class="bottom_content">
					
						<div class="bubble"></div>
						<div class="name">
							<h3 id="tm_name">&nbsp;</h3>
							<span id="tm_web" class="website">&nbsp;</span>
						</div>
						
					</div>
					
				</div>
				<div class="clear"></div>

				<ul class="clients">
                    <li><a href="#"><img src="../public/images/clouds.png" width="122" height="34"></a></li>
                    <li><a href="#"><img src="../public/images/thelaw.png" width="113" height="39"></a></li>
                    <li><a href="#"><img src="../public/images/cakeapp.png" width="131" height="40"></a></li>
                    <li><a href="#"><img src="../public/images/thephish.png" width="94" height="43"></a></li>
				</ul>

				<footer>

					Copyright © Все права защищены, 2022. Тестовое приложение.
					<div class="right_icons">
						<a class="facebook" href="#">Facebook</a>
						<a class="twitter" href="#">Twitter</a>
						<a class="dribbble" href="#">Dribbble</a>
					</div>
					<div class="clear"></div>
				</footer>
			</div>
		</div>
	</div>
</body>
</html>